@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth !important;
}
::selection {
  @apply bg-primary text-white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
ul {
  --navbar-height: 83vh !important;
}

a {
  @apply transform transition-transform hover:-translate-y-1 !important;
}
.category-card {
  @apply relative overflow-hidden;
}
.category-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    118deg,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 0%
  );
  transition: 1s ease-in-out;
}
.category-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 1s ease-in-out;
  background-image: linear-gradient(
    118deg,
    rgba(0, 0, 0, 0.5) 50%,
    transparent 0%
  );
}
.category-card:hover::before {
  transform: translate(-200px, -200px);
}
.category-card:hover::after {
  transform: translate(200px, 200px);
}
@media (min-width: 700px) {
  .category-card::before {
    background-image: linear-gradient(
      -55deg,
      transparent 50%,
      rgba(0, 0, 0, 0.2) 0%
    );
  }
  .category-card::after {
    background-image: linear-gradient(
      -55deg,
      rgba(0, 0, 0, 0.2) 50%,
      transparent 0%
    );
  }
}
[role='tablist'] {
  @apply bg-black;
}
[data-slot='tabContent'] {
  @apply text-white;
}
